.poison-svg {
    width: 100%;
}

.main_1 {
    width: 100%;
}

.page-image {
    max-width: 90%;
    margin-bottom: 20px;
}

.back-button {
    font-size: 20px;
    padding: 5%;
}


/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/

.auto-grid {
    --auto-grid-min-size: 16rem;
}

.auto-grid>* {
    max-width: 400px;
}

.auto-grid>*+* {
    margin-top: 1rem;
}

@supports(display: grid) {
    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
        grid-gap: 1rem;
    }
    .auto-grid>* {
        max-width: unset;
    }
    .auto-grid>*+* {
        margin-top: unset;
    }
}


/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/

.wrapper {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.poison-content {
    padding: 5%;
    text-align: center;
}

.item-title {
    /* font-size: 55px; */
}

.item-description {
    /* font-size: 20px; */
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card-img {
    border-radius: 5px 5px 0 0;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 20px;
}

.container-item {
    padding: 5px;
    max-width: 100%;
}