.poison-svg {
    width: 100%;
}

.main_1 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin: 2%;
    padding: 5%;
}

/* create 1 column */
.column-1 {
    display: block;
    width: 70%;
    padding: 10px;
}

/* Create 2 equal columns that floats next to each other */

.column-2 {
    float: left;
    width: 50%;
    padding: 10px;
    /* height: 300px; */
}


/* Create three equal columns that floats next to each other */

.column-3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    /* height: 300px; */
}

.poison-content {
    padding: 15% 5% 15% 5%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card-img {
    border-radius: 5px 5px 0 0;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 20px;
}

.container-item {
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    position: absolute;
    margin-top: 4rem;
    width: 100%;

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column-3 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
    }
    .poison-content {
        padding-top: 5%;
        text-align: center;
    }
}