*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --wine:#cf6679;
    --blue:#03dac6;
    --grayish:#484a67;
    --light-gray:#7e8987;
    --green:#2c5f2d;
    --dim-green:#97bc62ff;
    --purple:#5f4b8bff;
    --pink:#e69a8dff;
    --dark:#00203fff;
    --light:#adefd1ff;
}
body{
    background-color: var(--light);
    height: 100vh;
    font-family:'Comic Sans MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.all{
    display: none;
}
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
#loader{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: block;
    background-image: url('../images/animation.svg');

}
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color:var(--dark);
    z-index: 10;
    height: 4rem;
    overflow: hidden;
    color: white;
}
.main .img_div img{
    width: 50%;
}
.categories .img_div img{
    width: 100%;
}
.header nav a{
    font-size: 1.7rem;
    color: white;
}
.contents_burns{
    display: none;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    margin-top: 5rem;
    position: absolute;
}
.contents_burns p{
    width: 80%;
    font-size: 1.4rem;
}
img{
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav a,nav .navBars{
    margin: 1rem;
}
.navBars .fa-times{
    display: none;
}
.navBars{
    cursor: pointer;
    margin-right: 2rem;
}
nav a{
    font-size: 2rem;
}
.lists{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    position: fixed;
    z-index: 2;
    margin-top: 3.3rem;
}
.lists ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.lists ul li a{
    color: white;
}
.navToggle{
    display: flex;
}
.emergencies{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    position: absolute;
    margin-top: 4rem;
    width: 100%;
}
.emergencies .each_emergencies{
    width: 120px;
    height: 5rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color:var(--dark);
    box-shadow: 4px 5px 8px var(--light-gray);
    border-radius: 20px;
}
.emergencies .each_emergencies a{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-transform: capitalize;
    color: white;
    align-self: center;
    width: 100%;
}
.emergencies .each_emergencies:hover{
    background: linear-gradient(
        to right,
        var(--purple),
        var(--pink)
    );
}
.contents{
    position: absolute;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contents p{
    width: 300px;
}
.contents a{
    display: flex;
    align-self: start;
    margin-left: 2rem;
    /* font-size: 1.5rem;
    margin-top: 3rem; */
}
.img_div{
    width: 300px;
    border: 2px solid black;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    overflow: hidden;
    background-color: white;
}
.img_div img{
    width: 50%;
}
.major_burns .major{
    margin-bottom: 2rem;
}
.contents_burns a,.contents_burns a,.contents_drown a,.electric_contents a{
    align-self: start;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.major_burns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-width: 200px;
    /* margin-left: 2rem; */
}
.minor h3{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.major_burns h2{
    margin-top: 2rem;
    min-width: 200px;
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.major_burns ul{
    margin-bottom: 1rem;
    align-items: center;
    min-width: 300px;
    margin-bottom: 5rem;
    max-width: 1200px;
    width: 80%;
}
.major_burns ul li{
    list-style: circle;
    font-size: 1.3rem;
    height: 100px;
}
.major_burns .call{
    font-weight: 600;
    margin: 1rem 0;
    min-width: 300px;
    max-width: 1200px;
}
.list{
    display: none;
}
.minor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents_drown{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    position: absolute;
    max-width: 1200px;
}
.contents_drown p{
    font-size: 1.5rem;
    width: 80%;
    letter-spacing: 2px;
    margin-bottom: 4rem;
}
.drowning img{
    width: 100%;
}
.burns img{
    width: 75%;
}
.electric_contents{
    display: none;
    position: absolute;
    margin-top: 5rem;
    max-width: 2000px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.electric_contents p{
    font-size: 1.6rem;
    width: 80%;
}
.electric_contents ul{
    font-size: 1.5rem;
    width: 80%;
    margin-top: 2rem;
}
.electric_contents ul li{
    margin-top: 2rem;
    list-style: circle;
}
.categories{
    margin-bottom: 5rem;
}
@media(min-width:550px){
    .emergencies .each_emergencies{
        height: 12rem;
        margin: 2rem;
        width: 180px;
    }
    .emergencies .each_emergencies a{
        font-size: 1.5rem;
    }
}
@media(min-width:800px){
    .main p,.main h3{
        font-size: 1.5rem;
    }
    .contents a{
        font-size: 1.8rem;
    }
    .header nav a{
        font-size: 2.5rem;
    }
    .emergencies .each_emergencies{
        height: 12rem;
        margin: 2rem;
        width: 250px;

    }
    .emergencies .each_emergencies a{
        color: white;
        font-size: 2.2rem;
    }
    .emergencies{
        margin-top: 7rem;
    }
    .navBars{
        display: none;
    }
    .lists{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-top: 0;
        justify-content: flex-end;
    }
    .lists ul{
        flex-direction: row;
        position: relative;
        width: 70%;
        justify-content: space-around;
    }
    .lists ul li a{
        color: white;
        cursor: pointer;
    }
    .list{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .list ul{
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 6rem;
    }

    .list ul a{
        font-size: 1.6rem;
        color: white;
    }
    .header{
        display: flex;
        /* align-items: center; */
        background-color: var(--dark);
        height: 6rem;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        z-index: 10;
    }
    .main{
        display: flex;
        flex-direction: row;
        min-width: 600px;
        width: 100%;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-around;
    }
    .lists{
        display: none;
    }
    .categories{
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
    }
    .categories .inhaled,.categories .onSkin,.categories .Swallowed{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
    }
    .categories .inhaled p,.categories .onSkin p,.categories .Swallowed p{
        font-size: 1.6rem;
        width: 450px;
    }
    .categories .inhaled h3,.categories .onSkin h3,.categories .Swallowed h3{
        font-size: 2rem;
    }
    .contents_burns{
        margin-top: 7rem;
        max-width: 1200px;
    }
    .contents_burns .img_div img{
        width: 100%;
    }
    .contents_drown{
        margin-top: 7rem;
        position: absolute;
        max-width: 2000px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contents_drown p,.electric_contents p,    .electric_contents ul{
        width: 80%;
        flex-direction: column;
        max-width: 1500px;
        font-size: 2.5rem;
    }
    .contents_drown .img_div{
        width: 80%;
        height: 400px;
    }
    .electric_contents ul{
        margin-top: 2rem;
    }
    .electric_contents ul li{
        margin-top: 2rem;
        list-style: circle;
    }
    .electric_contents h2{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .contents_drown h2{
        font-size: 2rem;
    }
    .contents_drown a,.electric_contents a{
        display: flex;
        align-self: start;
        font-size: 2rem;
    }
    .contents_drown .note{
        margin-top: 5rem;
    }
    .electric_contents .img_div{
        width: 500px;
        height: 300px;
    }
    .electric_contents{
        margin-top: 7rem;
    }
}
